*.swp
.zsh_history
const
.config/*
!.config/peco
!.config/sakura
!.config/qtile
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.config/ranger
!.config/.byobu
!.config/starship.toml
!.config/alacritty
!.config/bat
yazi/flavors
yazi/plugins