[user]
	email = hibariyashiki@gmail.com
	name = Daisuke Inoue
	editor = 'vim'

[alias]
	b = branch
	c = checkout
	bc = 'checkout -b'
	ps = push
	pl = pull
	f = fetch
	l = log --color
	s = status
	d = diff --color
	r = rebase
	a = add -p
	cm = commit -v

[color]
	status = auto

[color "status"]
	added = green
	changed = blue
	untracked = magenta
	deleted = red
