[user]
	email = hibariyashiki@gmail.com
	name = Daisuke Inoue
	editor = 'vim'

[alias]
	b = branch
	c = checkout
	ps = push
	pl = pull
	f = fetch
	l = log --color
	s = status
	d = diff
	r = rebase
	a = add -p
	cm = commit -v
