[user]
	email = hibariyashiki@gmail.com
	name = Daisuke Inoue
	editor = 'vim'

[alias]
	b = branch
	c = checkout
	bc = checkout -b
	d = branch -d
	ps = push
	pl = pull
	f = fetch
	l = log --oneline -10
	lc = log --color
	s = status
	d = diff --color
	ds = diff --color --cached
	du = diff --color
	df = diff --color HEAD
	r = rebase
	a = add -p
	cm = commit -v
	cmm = commit -m
	m = merge
	stage = add
	unstage = reset HEAD

[color]
	status = auto

[color "status"]
	added = green
	changed = blue
	untracked = magenta
	deleted = red

[push]
	default = current
