MAPDIR=$HOME/maps

if [ `uname -n` = 'x40b' -o $(uname -n) = 'x40d' -o $(uname -n) = 'x220a' ]
then
    xmodmap $HOME/maps/vortex_core.map
else
    source map_hhkb.sh
fi
if [ $(uname -n) = 'x220a' ]

then
    xinput disable 10
fi

export XMODIFIERS=@im=SCIM
export GTK_IM_MODULE="scim"
export QT_IM_MODULE="scim"
export NO_AT_BRIDGE=1
scim -d

xhost +

# export XMODIFIERS="@im=fcitx"
# export GTK_IM_MODULE=fcitx
# export QT_IM_MODULE=fcitx
# pkill -9 fcitx
# fcitx
