MAPDIR=$HOME/maps

if [ `uname -n` = 'x40b' -o $(uname -n) = 'x40d' ]
then
    xmodmap $MAPDIR/central.map
    xmodmap $MAPDIR/x40_peripheral.map
    xmodmap $MAPDIR/x40_modifier.map
    xmodmap $MAPDIR/x40_switch.map
else
    xmodmap $MAPDIR/central.map
    xmodmap $MAPDIR/hhkb_peripheral.map
    xmodmap $MAPDIR/hhkb_switch.map
fi
