MAPDIR=$HOME/maps

if [ `uname -n` = 'x40b' -o $(uname -n) = 'x40d' -o $(uname -n) = 'x220a' ]
then
    xmodmap $MAPDIR/central.map
    xmodmap $MAPDIR/x40_peripheral.map
    xmodmap $MAPDIR/x40_modifier.map
    xmodmap $MAPDIR/x40_switch.map
else
    xmodmap $MAPDIR/central.map
    xmodmap $MAPDIR/hhkb_peripheral.map
    xmodmap $MAPDIR/hhkb_switch.map
fi
if [ $(uname -n) = 'x220a' ]

then
    xinput disable 10
fi

export XMODIFIERS=@im=SCIM
export GTK_IM_MODULE="scim"
export QT_IM_MODULE="scim"
export NO_AT_BRIDGE=1
scim -d

xhost +

# export XMODIFIERS="@im=fcitx"
# export GTK_IM_MODULE=fcitx
# export QT_IM_MODULE=fcitx
# pkill -9 fcitx
# fcitx

