
[Desktop Entry]
Name=Conky
Comment=A lightweight system monitor
Comment[ja]=軽量システムモニター
Exec=conky
Icon=gnome-system-monitor
Categories=System
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=false
OnlyShowIn=GNOME;XFCE;
