[Desktop Entry]
Name=Lxkeymap
Comment=Lxkeymap application
Categories=Settings;
Exec=lxkeymap -a
Icon=/usr/share/lxkeymap/media/icon.png
Terminal=false
Type=Application
OnlyShowIn=OPENBOX;LXDE;
